#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fecha {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#fecha_text {
    margin-left: 2px;
    align-self: auto;
    min-width: 30%;
    font-weight: normal;
}

#title_text {
    margin-top: 2%;
    text-align: center;
}

#init_data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

#ref {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 10px;
}

#ref_div {
    width: max-content;
    align-items: center;
}

#ref h4 {
    margin-right: 4px;
}

#ref_list {
    margin-right: 10px;
}

#numero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#numero h4 {
    margin-right: 4px;
}

#nro {
    min-width: 30px;
    font-weight: normal;
}

#comments {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    word-wrap: break-word;
    font-weight: normal;
}

#ofertas_data {
    display: flex;
    align-items:baseline;
}

#ofertas {
    width: 20px;
    margin-left: 5px;
    margin-right: 4px;
}

#excluyentes_data {
    display: flex;
    align-items: center;
}

input {
    font-size: 15px;
}

#excluyentes {
    width: 20px;
    margin-left: 5px;
    margin-right: 4px;
}

#btnCump {
    margin-top: 30px;
}

#divExclu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23px;
}

#divExclu input {
    width: 40%;
}

#textEx {
    margin-right: 3px;
}

#observaciones1 {
    max-width: 100%;
    margin-left: 5%;
    margin-bottom: 20px;
    word-wrap: break-word;
}

#puntuables_data {
    display: flex;
    align-items: center;
}

#puntuables {
    width: 20px;
    margin-left: 5px;
    margin-right: 4px;
}

#divEspe {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23px;
}

#divEspe input {
    width: 40%;
}

#textEsp {
    margin-right: 3px;
}

#btnPunt {
    margin-top: 30px;
}

#observaciones2 {
    max-width: 100%;
    margin-left: 5%;
    margin-bottom: 20px;
    word-wrap: break-word;
}

#conclusiones {
    max-width: 100%;
    margin-left: 5%;
    margin-bottom: 20px;
    word-wrap: break-word;
}

#textbox_proveedores {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

#textbox_requisitos {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

#tabla {
    font-weight: lighter;
    font-size: 15px;
}

table {
    table-layout: fixed;
    max-width: 100%;
}

th {
    font-weight: lighter;
    font-size: 15px;
}

tr {
    font-weight: lighter;
    font-size: 15px;
}

td {
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
}

#declaratoria {
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 10%;
}

.prePDF {
    background-color: rgb(0, 170, 224);
}

.postPDF {
    background-color: transparent;
}

.postPdfOther {
    background: none;
    border: none;
}

.botPDF {
    height: 0;
    visibility: hidden;
    display: none;
}

.selectPDF {
    appearance: none;
    background-color: transparent;
    border: none;
    text-align: end;
}

#tablaEval table tbody tr td select {
    text-align: end;
}

#tablaEval table tbody tr td input {
    text-align: center;
}

.cellEmp {
    text-align: left;
    padding-right: 30px;
}

#ETEX {
    font-weight: bold;
}

#ET {
    font-weight: bold;
}

.empName {
    text-align: left;
}

#monedadrop {
    text-align: end;
}

#titulosDiv {
    width: 100%;
    display: flex;
    align-items: center;
}

#titleDesc {
    width: 50%;
    margin-right: 15px;
    text-align: center;
}

#titleCrit {
    width: 50%;
    margin-right: 15px;
    text-align: center;
}

#textbox1 {
    width: 50%;
    margin-right: 30px;
    background-color: rgb(0, 170, 224);
}

#textbox2 {
    width: 50%;
    background-color: rgb(0, 170, 224);
}